Options +FollowSymLinks -MultiViews
RewriteEngine On

# Ha a címed: localhost/CRUDX_v93/product/1 -> Akkor a RewriteBase /CRUDX_v93/
RewriteBase /CRUDX_v93/

# 1. API ÚTVONAL (Adatforrás)
RewriteRule ^api/products/([0-9]+)$ api/v1/product_details.php?id=$1 [L,QSA]

# 2. FRONTEND ÚTVONAL (Megjelenítés)
RewriteRule ^product/([0-9]+)$ product.php?id=$1 [L,QSA]

# Kiterjesztés elrejtése
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^\.]+)$ $1.php [NC,L]
